<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlRox9uSxIpBLkHVsPtx2pDBXK32evMuE&sensor=false&libraries=places" type="text/javascript">
    window.onload = getLocation();
</script>
<%= render 'layouts/header' %>

<% places = requestMaps %>

<h2>Listings</h2>

<div class="listings">
    <% if places.size > 0 %>
    <% places.each do |place| %>
        <div class="listing">
            <h4><a href='../locations/<%= place['place_id'] %>'><%= place['name'] %></a></h4>
            <p><%= place['formatted_address'] %></p>
        </div>
    <% end %>
    <% else %>
        <p>No Results</p>
    <% end %>
</div>

<h3>My Google Maps Demo</h3>
<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>    
<div id="map">
</div>

