.center {
	margin: 0 auto;
	margin-top: 60px;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
}

.able {
	color: red;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.somepadding {
	padding-right: 0 !important;
	margin: 0 !important;
}