<%= render 'layouts/header' %>

<div id="map">
</div>
<div class="mainIndex">
    <h1>AccessAble</h1>

    <div class="mainSearch">
        <input type="search" id="indexSearch" placeholder="McDonalds, Chipotle, etc.">
        <button onclick="searchClicked()">Search</button>
        <% testt %>
    </div>
    <p><%=  %></p>
</div>
