<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlRox9uSxIpBLkHVsPtx2pDBXK32evMuE&sensor=false&libraries=places" type="text/javascript">
</script>

<%= render 'layouts/header' %>

<div class="mainIndex">
    <h1>AccessAble</h1>

    <div class="mainSearch">
        <input type="search" id="indexSearch" placeholder="McDonalds, Chipotle, etc.">
        <button onclick="getLocation()">Search</button>
    </div>
</div>
