
<div class="mainIndex">
    <h1>AccessAble</h1>

    <div class="mainSearch">
        <input type="search" id="indexSearch" placeholder="Mcdonalds, Chipotle, etc.">
        <button onClick="enterSearch()">Search</button>
    </div>
</div>
